@media (min-width: 481px) {
    * {
        padding: 0;
        margin: 0;
    }
    header {
        display: flex;
        padding: 20px;
    }

    .logo {
        display: block;
        width: 15%;
        height: 40px;
    }
    .logo img {
        width: 100%;
        height: 40px;
    }

    .header-navigation {
        width: 50%;
        height: 40px;
        margin: 0 10%;
        padding: 5px;
    }
    .header-navigation ul {
        display: flex;
        width: 100%;
        height: 100%;
        list-style: none;
    }
    .header-navigation li {
        display: flex;
        width: 20%;
    }
    .header-navigation a {
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
    .header-navigation a:hover {
        text-decoration: underline;
    }

    .search-login-singup-profile {
        display: flex;
        width: 15%;
        height: 40px;
        padding: 5px;
    }
    .search {
        width: 20%;
    }
    .search img {
        width: 100%;
        height: 100%;
    }
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin-left: 8%;
        text-align: center;
        font-size: 10px;
    }
    .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin-left: 8%;
        text-align: center;
        font-size: 10px;
    }
    .profile {
        width: 20%;
        margin-left: 5%;
    }
    .profile img {
        width: 100%;
        height: 100%;
    }

    .header-navigation ul li:nth-child(2) {
        position: relative;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: white;
        z-index: 1;
    }
    .header-navigation ul li:nth-child(2):hover .dropdown-content {
        display: block;
    }
    .dropdown-content a {
        color: black;
        padding: 20px 0;
        text-decoration: none;
        display: block;
        border-radius: 20px;
    }
    .dropdown-content a:hover {
        background-color: whitesmoke;
    }
}

@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }
    .logo {
        width: 100%;
    }
    .logo img {
        width: 100%;
        height: 40px;
    }
    .header-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }
    .header-navigation ul {
        display: flex;
        width: 100%;
        height: 100%;
        list-style: none;
    }
    .header-navigation li {
        width: 20%;
    }
    .header-navigation a {
        width: 100%;
        color: black;
        font-weight: bold;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
    .header-navigation a:hover {
        text-decoration: underline;
    }
    .header-navigation ul li:nth-child(2) {
        position: relative;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: white;
        z-index: 1;
    }
    .header-navigation ul li:nth-child(2):hover .dropdown-content {
        display: block;
    }
    .dropdown-content a {
        color: black;
        padding: 20px 0;
        text-decoration: none;
        display: block;
        border-radius: 20px;
    }
    .dropdown-content a:hover {
        background-color: whitesmoke;
    }

    .search-login-singup-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        padding: 0;
    }
    .search {
        width: 10%;
    }
    .search img {
        width: 100%;
        height: 100%;
    }
    .login {
        width: 10%;
        margin-left: 8%;
        text-align: center;
        font-size: 10px;
    }
    .signup {
        width: 10%;
        margin-left: 8%;
        text-align: center;
        font-size: 10px;
    }
    .profile {
        width: 10%;
        margin-left: 5%;
    }
    .profile img {
        width: 100%;
        height: 100%;
    }
}