.display {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border: 1px solid black;
}
.product-card {
    display: inline-block;
    width: 25%;
    height: auto;
    margin: 5px 2%;
    border: 1px solid blue;
}
.product-card img {
    width: 100%;
    height: 380px;
    text-align: center;
}
button {
    display: inline-block;
    width: 4%;
    font-size: 16px;
    margin: 5px 1.25%;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
button:hover {
    background: #0056b3;
}

.package {
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid black;
}
.package-card {
    display: inline-block;
    width: 25%;
    height: auto;
    margin: 5px 2%;
    border: 1px solid blue;
}
.package-card img {
    width: 100%;
    height: 280px;
    text-align: center;
}

